.eunit
deps
*.o
*.beam
*.plt
priv/log/*.log
ebin/
log/
priv/www/javascripts
priv/www/stylesheets
.rebar/
priv/assets/build
**/*.min.css
tmp/
node_modules/
giddyup-cover
priv/www/javascripts/application.js
priv/www/javascripts/application.js.map
