*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
public/javascripts
public/stylesheets

# Foreman local dev
.env*

# RVM
.rvmrc

# Bundler
bin/

# SQL dumps
*.sql

# Compiler artifacts
priv/www/javascripts/application.js
priv/www/javascripts/application.js.map
