[
 {lager, [
          {handlers, [
                      {lager_file_backend, [
                                            {"/var/log/giddyup/error.log", error, 10485760, "$D0", 5},
                                            {"/var/log/giddyup/console.log", debug, 10485760, "$D0", 5}
                                           ]}
                     ]},
          {crash_log, "/var/log/giddyup/crash.log"},
          {crash_log_msg_size, 65536},
          {crash_log_size, 10485760},
          {crash_log_date, "$D0"},
          {crash_log_count, 5},
          {error_logger_redirect, true},
          {error_logger_hwm, 100}
         ]},
 {webmachine, [
               {log_handlers, [
                               {webmachine_log_handler, ["/var/log/giddyup"]},
                               {webmachine_perf_log_handler, ["/var/log/giddyup"]}
                               ]}
              ]},
 {sasl, [{sasl_error_logger, false}]}
].
