%%-*- mode: erlang -*-
{recursive_cmds, [clean, compile]}.
{erl_opts, [{parse_transform, lager_transform},
            debug_info,
            warnings_as_errors]}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.

{deps, [
        {lager, "2.0.*",
         {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
        {poolboy, "1.*", {git, "git://github.com/devinus/poolboy", {branch, "master"}}},
        {epgsql, ".*", {git, "git://github.com/epgsql/epgsql", {branch, "master"}}},
        {webmachine, ".*",
         {git, "git://github.com/basho/webmachine", {branch, "develop"}}},
        {kvc, "1.4.0", {git, "https://github.com/etrepum/kvc", {tag, "v1.4.0"}}},
        {erlcloud, ".*",
         {git, "git://github.com/basho/erlcloud", "e4e2f1e"}},
        {getopt, "0.8.2",
         {git, "git://github.com/jcomellas/getopt", {tag, "v0.8.2"}}}
       ]}.

{escript_name, "giddyup-cover"}.
{escript_incl_apps, [goldrush, lager, mochiweb, ibrowse, kvc, erlcloud, getopt]}.

