%%-*- mode: erlang -*-
{recursive_cmds, [clean, compile]}.
{erl_opts, [{parse_transform, lager_transform},
            debug_info,
            warnings_as_errors]}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.

{deps, [
        {lager, "2.0.*",
         {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
        {poolboy, "1.*", {git, "git://github.com/devinus/poolboy", {branch, "master"}}},
        {epgsql, ".*", {git, "git://github.com/epgsql/epgsql", {branch, "master"}}},
        {webmachine, ".*",
         {git, "git://github.com/basho/webmachine", {branch, "develop"}}},
        {kvc, "1.4.0", {git, "https://github.com/etrepum/kvc", {tag, "v1.4.0"}}},
        {erlcloud, ".*",
         {git, "git://github.com/basho/erlcloud", "e4e2f1e"}}
        %% {rebar_js_minispade_plugin, ".*",
        %%  {git, "git://github.com/cmeiklejohn/rebar_js_minispade_plugin.git", {branch, "master"}}}
       ]}.

%% {plugin_dir, "src"}.

%% {plugins, [rebar_js_minispade_plugin,
%%            rebar_js_handlebars_plugin,
%%            rebar_js_concatenator_plugin]}.

%% {js_minispade,
%%  [
%%   {out_dir, "priv/assets/javascripts/generated"},
%%   {doc_root, "priv/assets/javascripts/app"},
%%   {modules, ["adapter", "app", "controllers", "dropdown", "helpers",
%%              "matrix", "models", "progress", "quips", "rotate",
%%              "router", "selectable", "shuffle", "store", "views"]}
%%  ]}.

%% {js_handlebars,
%%  [
%%   {doc_root,   "priv/assets/javascripts/app/templates"},
%%   {out_dir,    "priv/assets/javascripts"},
%%   {target,     "Ember.TEMPLATES"},
%%   {compiler,   "Ember.Handlebars.compile"},
%%   {keep_path, relative},
%%   {templates,  [{"generated/templates.js", [
%%                                             "application.hbs",
%%                                             "artifact/download.hbs",
%%                                             "artifact/image.hbs",
%%                                             "artifact/text.hbs",
%%                                             "artifacts.hbs",
%%                                             "help/artifact.hbs",
%%                                             "help/matrix.hbs",
%%                                             "help/projects.hbs",
%%                                             "help/scorecards.hbs",
%%                                             "help/test_instance.hbs",
%%                                             "help/test_result.hbs",
%%                                             "project.hbs",
%%                                             "projects.hbs",
%%                                             "scorecard.hbs",
%%                                             "scorecards/_dropdown.hbs",
%%                                             "scorecards/_nav_link.hbs",
%%                                             "scorecards.hbs",
%%                                             "test_instance/index.hbs",
%%                                             "test_instance.hbs",
%%                                             "test_instances/_bubble.hbs",
%%                                             "test_instances/_matrix.hbs",
%%                                             "test_instances/_progress.hbs",
%%                                             "test_instances.hbs",
%%                                             "test_result/_status.hbs",
%%                                             "test_results.hbs"
%%                                            ]
%%                 }]}
%%  ]}.

%% {js_concatenator,
%%  [
%%   {doc_root,        "priv/assets/javascripts"},
%%   {out_dir,         "priv/www/javascripts"},
%%   {concatenations,
%%    [
%%     {"vendor.js",
%%      [
%%       "vendor/minispade.js",
%%       "vendor/jquery.js",
%%       "vendor/handlebars.js",
%%       "vendor/ember.js",
%%       "vendor/ember-data.js"
%%      ], []},
%%     {"application.js",
%%      [
%%       "generated/templates.js",
%%       "generated/adapter.js",
%%       "generated/controllers.js",
%%       "generated/dropdown.js",
%%       "generated/helpers.js",
%%       "generated/matrix.js",
%%       "generated/models.js",
%%       "generated/progress.js",
%%       "generated/quips.js",
%%       "generated/rotate.js",
%%       "generated/router.js",
%%       "generated/selectable.js",
%%       "generated/shuffle.js",
%%       "generated/store.js",
%%       "generated/views.js",
%%       "generated/app.js"
%%      ], []}
%%    ]}
%%  ]}.
