<div class="container-fluid">
  <img class="cowboy" src="/images/cowboy.png" {{action "toggleHelp"}}/>
  <div id="help" class="popover left" style="right: 110px; left: auto; top: 40px; display: none">
    <div class="arrow" style="top: 48px"></div>
    {{ outlet "help" }}
  </div>
  {{outlet}}
</div>
