{{#view "GiddyUp.BubbleView" contentBinding="this"}}
<span {{bindAttr class="view.statusClasses"}}>{{#linkTo "test_instance" this}}{{testInstanceAbbr backend upgradeVersion}}{{/linkTo}}</span>
{{/view}}