{{#view "GiddyUp.BubbleView" contentBinding="this"}}
<span {{bindAttr class="view.statusClasses"}} {{bindAttr style="view.backgroundStyle"}}>{{#linkTo "test_instance" this}}{{testInstanceAbbr backend upgradeVersion}}{{/linkTo}}</span>
{{/view}}