.badge a {
  color: white;
}

pre.abridged {
  height: 200px;
  overflow: auto;
}

pre.unabridged {
  margin-top: 20px;
  margin-bottom: 20px;
}

pre {
  background-color: #333333;
  color: white;
  -webkit-box-shadow: inset 0 3px 15px #1d1d1d;
     -moz-box-shadow: inset 0 3px 15px #1d1d1d;
          box-shadow: inset 0 3px 15px #1d1d1d;
}
