<h3 class="popover-title">Whoa, boy!</h3>
<div class="popover-content">

  <p>That there is a lot of stuff! riak_test uses lots of four-dollar
  words, I tell ye'.</p>

  <p>Scroll down to see the rest of the output if the thing you've
  selected is text. Otherwise just have a look at the pretty
  picture!</p>

</div>