<h3 class="popover-title">Lookout, stampede!</h3>
<div class="popover-content">
  <p>Y'er looking at the results of test runs for a single project
version.</p>

<p>Down the leftmost column are the test names that were run. Across
  the top are the platforms the tests were run against.</p>

<p>The colored bubbles indicate whether the latest run was a <span
   class="badge badge-success">pass</span> or a <span class="badge
   badge-important">failure</span>. Tests that have no results
   recorded are <span class="badge">gray</span>. While we're still
   counting the steers, the bubble will be <span class="badge
   badge-loading"><a>outlined</a></span>.</p>

<p>The text in the bubble tells ye' the parameters for the
test:</p>

<ul>
  <li> <span class="badge">U</span> Default backend</li>
  <li> <span class="badge">B</span> Bitcask backend</li>
  <li> <span class="badge">L</span> LevelDB backend</li>
  <li> <span class="badge">M</span> Memory backend</li>
  <li> <span class="badge">-1</span> Upgraded from previous</li>
  <li> <span class="badge">-2</span> Upgraded from legacy</li>
</ul>

<p>Ye' can click a bubble to see the results we got in the corral.</p>
</div>