<h3 class="popover-title">Welcome to GiddyUp!</h3>

<div class="popover-content">
<p>GiddyUp is an API and user-interface to test results we collect
  from <code>riak_test</code>. I'm your guide, <em>Artie</em>, the
  Lone Testing Ranger.</p>

<p>To get started, click a project to see which versions we've wrangled.</p>
</div>