<h3 class="popover-title">Yeehaw!</h3>
<div class="popover-content">
  <p>These are all the versions we've tested on the project, which I
  reckon are called scorecards. Click one in the second row to see a
  matrix of its results.</p>
</div>