<h3 class="popover-title">Git along, lil' dogie!</h3>
<div class="popover-content">

  <p>There's ye'r test output in the dark box. If ye' can't see enough
  of it at once, click yonder "enlarge log" link below the
  varmint.</p>

  <p>To show this screen again after enlarging the log, just click
    ye'r Back button.</p>

</div>