<h3 class="popover-title">Have a look-see.</h3>
<div class="popover-content">
  <p>We herded these here test results into the corral for ye'.</p>

  <p>Down the left side are all the results, whether they be good or
    bad, how old they are, and which brood <em>erm</em> version they
    came from. Select one and ye'll see its output on the right.</p>
</div>