<div class="container-fluid">
  <div class="navbar" style="margin-bottom:0">
    <div class="navbar-inner">
      <a class="brand" href="#">GiddyUp</a>
      {{outlet projects}}
    </div>
  </div>
  {{outlet scorecards}}
  {{outlet testResults}}
  {{outlet scorecard}}
</div>
