<div class="navbar" style="margin-bottom: 0">
  <div class="navbar-inner">
    {{#link-to "projects" class="brand"}}GiddyUp{{/link-to}}
    <ul class="nav">
    {{#each controller itemViewClass="GiddyUp.ProjectItemView"}}
      {{#link-to "project" this}} {{ name }} {{/link-to}}
    {{/each}}
    </ul>
  </div>
</div>
{{outlet}}