{{#if view.isLoaded}}
<ul class="nav">
  {{#each controller}}
  <li {{bindAttr class="isActive:active"}}>
    <a {{action showProject this href=true}}>{{name}}</a>
  </li>
  {{/each}}
</ul>
{{else}}
<p class="navbar-text">Loading...</p>
{{/if}}
