{{#if isLoaded}}
  <div class="navbar">
    <div class="navbar-inner scorecards">
      <ul class="nav">
        {{#each scorecard in controller itemViewClass="GiddyUp.ScorecardItemView"}}
          {{#link-to "scorecard" scorecard}}{{scorecard.version}}{{/link-to}}
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}