<ul class="nav nav-list">
  <li class="nav-header">Scorecards</li>
  {{#each controller}}
  <li {{bindAttr class="isActive:active"}}>
    <a {{action showScorecard href=true}}>
      {{name}}
    </a>
  </li>
  {{/each}}
</ul>
