{{#if view.isLoaded}}
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      {{view GiddyUp.ScorecardsCollectionView contentBinding="controller"}}
    </ul>
  </div>
</div>
{{/if}}
