{{#if view.isLoaded}}
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      {{#each controller}}
        <li {{bindAttr class="isActive:active"}}>
          <a {{action showScorecard this href=true}}>
            {{name}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}