{{#if isLoaded}}
<table class="table table-striped">
  <thead>
    <th></th>
    {{#each column in dimensionValues.lastObject}}
      <th>{{column}}</th>
    {{/each}}
  </thead>
  <tbody>
    {{#each matrix}}
      <tr>
        <td>{{key}}</td>
        {{#each this}}
          <td>
            {{#each this}}
              <div>{{#view GiddyUp.TestInstanceBubbleView contentBinding="this"}}<a>{{view.abbr}}</a>{{/view}}</div>
            {{/each}}
          </td>
          {{/each}}
      </tr>
      {{/each}}
  </tbody>
</table>
{{else}}
<div class="alert alert-info">
  <strong>Loading test matrix...</strong>
  please wait.
</div>
{{/if}}