<div class="row-fluid">
  <h4>{{#linkTo 'scorecard' scorecard activeClass="fakeActive"}}{{scorecard.name}}{{/linkTo}} : {{descriptor}}</h4>
</div>
<div class="row-fluid">
  <div class="span3 well">
    {{ render "test_results" }}
  </div>
  {{outlet}}
</div>
