<div class="row-fluid">
  <div class="span4 well">
    <ul>
      {{#each controller.test_results}}
        <li><a {{action showTestResult this href=true}}>{{created_at}}</a></li>
      {{/each}}
    </ul>
  </div>
  <div class="span8">
    {{outlet testResult}}
  </div>
</div>
